<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<%= form_with(model:[@category, Product.new], local: true) do |form| %>
 <%= form.hidden_field :category_id, value: @category.id %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>name</th>
      <th>price</th>
    </tr>

  <% @category.products.each do |prod| %>
    <tr>
      <td> <%= prod.name %> </td>
      <td> <%= prod.name %> </td>
    </tr>
    <% end %>
  </table>
</div>
